<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZStay Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-column">
                    <h4>EZStay</h4>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Terms & Condition</a></li>
                        <li><a href="">Testimonials</a></li>
                        <li><a href="">FAQs</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Properties</h4>
                    <ul>
                        <li><a href="">House</a></li>
                        <li><a href="">Households</a></li>
                        <li><a href="">Appliance</a></li>
                        <li><a href="">Vehicle</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Feature</h4>
                    <ul>
                        <li><a href="">Find Property</a></li>
                        <li><a href="">List Your Property</a></li>
                        <li><a href="">Rent Calculator</a></li>
                        <li><a href="">Pay Rent</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Feedback</h4>
                    <form action="">
                        <input type="text" placeholder="Your Name" class="inputName">
                        <input type="email" placeholder="Your email" class="inputEmail">
                        <input type="submit" placeholder="Submit" class="inputSubmit">
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p>&#169; 2024 EZStay All Rights Reserved.</p>
                </div>
                <div class="socialIcons">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <link rel="stylesheet" href="footerStyle.css">
</body>

</html>